<%= link_to 'Back', series_path %>
<div class="container my-5" style="width: 30%">
  <h1>New Title</h1>
  <%= simple_form_for @serie do |f| %>
    <%= f.input :title %>
    <%= f.submit class: 'btn btn-warning' %>
    <%= f.input :photo, as: :file %>
  <% end %>
</div>