<!DOCTYPE html>
<html>
  <head>
    <title>TvSeries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to 'Home', series_path, class: "btn btn-warning" %>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a title/broken", series_path, class: "btn btn-warning" %>
      </li>
    </ul>
  </div>
</div>
    <%= yield %>
  </body>
</html>
